@import "tailwindcss";

@theme {
  --font-sans: "Audiowide", sans-serif;
  --font-display: "Google Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

html {
  font-family: "Audiowide", sans-serif;
}

body {
  @apply bg-[#303030] text-white antialiased;
}
